*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(12, 12, 12);
  cursor: none;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

#cursor {
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: deeppink;
  box-shadow: inset 0 0 3px -2px white,
    0 0 2px -1px black,
    0 0 10px 5px deeppink;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
